.login_form {
  margin: 0 auto;
  margin-top: 40vh;
  display: flex;
  width: max-content;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;

  & form > div:first-child {
    margin-bottom: 10px;
  }
}

.login_field {
  display: flex;
  flex-direction: column;
}
